<footer class="footer">
  <div class="wrapper">
    <div class="footer__top">
      <div class="footer__item">
        <h3 class="footer__title">About Us</h3>
        <p>
          Breakfast agreeable incommode departure it an. By ignorant at on wondered relation. Enough at tastes really so
          cousin am of. Extensive therefore supported by extremity of contented. Is pursuit compact demesne invited
          elderly be. View him she roof tell her case has sigh. Moreover is possible he admitted sociable concerns. By
          in cold no less been sent hard hill.Frankness applauded by supported ye household. Collected favourite now for
          for and rapturous repulsive consulted. An seems green be wrote again. She add what own only like. Tolerably we
          as extremity exquisite do commanded. Doubtful offended do entrance of landlord moreover is mistress in. Nay
          was appear entire ladies. Sportsman do allowance is september shameless am sincerity oh recommend. Gate tell
          man day that who.
        </p>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Quick Links</h3>
        <ul class="footer__menu">
          <li class="footer__menu-item  footer__menu-item--active">
            <a class="footer__menu-link">Home</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Services</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Portfolio</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Pricing</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Contact Us</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Development</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Photography</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Design</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#">Manipulation</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h3 class="footer__title">Find Us On</h3>
        <svg class="footer__svg">
          <use xlink:href="#facebook"></use>
        </svg>
        <svg class="footer__svg">
          <use xlink:href="#twitter"></use>
        </svg>
        <svg class="footer__svg">
          <use xlink:href="#google"></use>
        </svg>
        <svg class="footer__svg">
          <use xlink:href="#linkedin"></use>
        </svg>
        <h3 class="footer__title">Subscribe Our Newsletter</h3>
        <div class="footer__form-wrapper">
          <form action="" class="footer__form">
            <input type="email" placeholder="Your Email">
            <input type="submit" placeholder="Subscribe">
          </form>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p>A Design By MD. Zillur Rahman Sama</p>
    </div>
  </div>
</footer>