<header class="header">
  <div class="header__top">
    <div class="wrapper">
      <div class="logo">
        <a href="index.html">foi<span>nni</span></a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item  menu__item--active">
            <a class="menu__link">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="">Service</a>
          </li>
          <li class="menu__item ">
            <a class="menu__link" href="">Pricing</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="">Portfolio</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="">Contact us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header__bottom">
    <div class="wrapper">
      <h1 class="header__title">We Love <span>Foinni</span> Polapain</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, aspernatur debitis expedita, id ipsam
        ipsum magnam maiores nam natus temporibus totam ut vero. Commodi ex magnam nobis sit sunt veritatis.</p>
    </div>
  </div>
  </div>
</header>