.teams{
  &__items{
    font-size: 0;
  }
  &__item{
    position: relative;
    @include inlineBlock();
    width: 269px;
    height: 355px;
    margin-left: 30px;
    &--Abida{
      background: url('../img/teams__item1.jpg') no-repeat;
    }
    &--Liker{
      background: url('../img/teams__item2.jpg') no-repeat;
    }
    &--Mahmud{
      background: url('../img/teams__item3.jpg') no-repeat;
    }
    &--Jolil{
      background: url('../img/teams__item4.jpg') no-repeat;
    }
    &:nth-child(4n+1){
      margin-left: 0;
    }
    &:hover{
      .teams__text{
        position: absolute;
        bottom: 177px;
        width: 100%;
        color:#fff;
        z-index: 5;
        background: transparent;
      }
      .teams__hover{
        opacity: 0.9;
        transform: scale(1.1);
      }
    }
  }
  &__text{
    margin-top: 287px;
    height: 68px;
    color: #fffcf4;
    text-align: center;
    padding-top: 10px;
    opacity: 0.94;
    background-color: #454546;
    transition:opacity 0.25s;
    h4{
      font-size: 18px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
    }
    small{
      font-size: 14px;
      font-weight: 100;
    }
  }
  &__hover{
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: $color-accent;
    z-index: 4;
    transform: scale(0);
    transition: transform 0.2s , opacity 0.3s;
  }
  &__svg-wrapper{
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 48px;
    text-align: center;
    padding-top: 7px;
    border: 0.5px solid white;
  }
  &__svg{
    width: 25px;
    height: 25px;
    fill: #fff;
  }

}