@font-face {
font-family: "Anfisa";

src: url("../fonts/anfisa_grotesk.woff") format("woff");
}

html {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

*,
*:before,
*:after {
-webkit-box-sizing: inherit;
        box-sizing: inherit;
}

body,
html {
height: 100%;
}

body {
position: relative; 

margin: 0;
padding: 0;

font-size: 14px;
line-height: 1.42;
font-family: "Roboto", sans-serif;
}

.wrapperAll {
display: table;
width: 100%; 
height: 100%;
}

.wrapper {
width: 360px;
max-width: 1600px; 
margin: 0 auto;
}

.content {
display: table-row;
height: 100%;
}

.noscript {
position: fixed;
top: 0;
left: 50%;

display: block;
width: 300px;
margin-left: -150px;

text-align: center;
color: #00a;

background: #ff7b93; 
opacity: 0.7;
}

.section__title {
font-weight: 500;
font-size: 30px;
color: #454546;
}
  .section__title span {
font-weight: 900;
color: #1dde85;
text-transform: uppercase;
}

.section__text {
font-weight: 100; 
font-size: 18px;
color: #8f8e91;
}

.header {
height: 100vh; 

background: url("../img/bg-header.jpg") no-repeat;
background-size: cover;
}
  .header__top .wrapper {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
  .header__top:after {
content: "";

display: block;
height: 1px;

background-color: #8f8e91; 
opacity: 0.5;
}
  .header__bottom {
text-align: center;
color: #fff;
}
    .header__bottom p {
max-width: 950px;
margin: auto;
}
  .header__title {
margin-top: 150px; 

font-weight: 400;
font-size: 48px;
font-family: Exo;
color: #fffcf4;
}
    .header__title span {
font-weight: 900;
color: #1dde85;
text-transform: uppercase;
}

.logo {
margin-top: 15px;
margin-right: 50px;
}
  .logo a {
font-weight: 400;
font-size: 40px;
color: #fffcf4; 
text-decoration: none;
}
  .logo span {
font-size: 60px; 
font-family: Pacifico;
color: #1dde85;
}

.menu {
margin-top: 55px;
margin-bottom: 30px;
}
  .menu__list {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
    -ms-flex-pack: start;
        justify-content: flex-start;
margin: 0;
padding: 0; 

list-style-type: none;
}
  .menu__item {
margin-bottom: 20px; 
margin-left: 30px;
}
    .menu__item:first-child {
margin-left: 0;
}
    .menu__item--active {
border-bottom: 1px solid #1dde85;
}
      .menu__item--active .menu__link {
color: #1dde85;
}
  .menu__link {
display: block;
padding: 5px;

font-weight: 300;
color: #fffcf4;
text-transform: uppercase;
text-decoration: none;
}
    .menu__link:hover {
color: #1dde85;
}

.promo {
text-align: center;
}
  .promo__items {
font-size: 0;
}
  .promo__item {
display: inline-block;
width: 357px;
margin-bottom: 48px;
margin-left: 48px;
padding: 30px 15px;

font-weight: 100;
font-size: 14px;
line-height: 30px;
vertical-align: top;
color: #8f8e91;

-webkit-box-shadow: inset 0 0 0 1px #8f8e91;

        box-shadow: inset 0 0 0 1px #8f8e91;

-webkit-transition: all 0.2s;

transition: all 0.2s;
}
    .promo__item:nth-child(3n+1) {
margin-left: 0;
}
    .promo__item:hover {
color: #454546;

-webkit-box-shadow: inset 0 0 0 2px #1dde85;

        box-shadow: inset 0 0 0 2px #1dde85;
}
      .promo__item:hover .promo__title {
color: #1dde85;
}
  .promo__title {
font-weight: 500; 
font-size: 24px;
color: #454546;
}
  .promo__svg--code {
width: 38px;
height: 28px;
}
  .promo__svg--mac {
width: 30px;
height: 26px;
}
  .promo__svg--wifi {
width: 32px;
height: 29px;
}
  .promo__svg--view {
width: 36px;
height: 21px;
}
  .promo__svg--camera {
width: 32px;
height: 26px;
}
  .promo__svg--photo {
width: 32px;
height: 32px;
}

.teams__items {
font-size: 0;
}

.teams__item {
position: relative;

display: inline-block;
width: 269px;
height: 355px;
margin-left: 30px; 

vertical-align: top;
}
  .teams__item--Abida {
background: url("../img/teams__item1.jpg") no-repeat;
}
  .teams__item--Liker {
background: url("../img/teams__item2.jpg") no-repeat;
}
  .teams__item--Mahmud {
background: url("../img/teams__item3.jpg") no-repeat;
}
  .teams__item--Jolil {
background: url("../img/teams__item4.jpg") no-repeat;
}
  .teams__item:nth-child(4n+1) {
margin-left: 0;
}
  .teams__item:hover .teams__text {
position: absolute;
bottom: 177px;
z-index: 5;

width: 100%;

color: #fff;

background: transparent;
}
  .teams__item:hover .teams__hover {
-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1); 
opacity: 0.9;
}

.teams__text {
height: 68px;
margin-top: 287px;
padding-top: 10px;

text-align: center;
color: #fffcf4;

background-color: #454546;
opacity: 0.94;

-webkit-transition: opacity 0.25s;

transition: opacity 0.25s;
}
  .teams__text h4 {
margin-top: 0;
margin-bottom: 0; 

font-weight: 400;
font-size: 18px;
}
  .teams__text small {
font-weight: 100; 
font-size: 14px;
}

.teams__hover {
position: absolute;
top: 0;
z-index: 4;

width: 100%;
height: 100%;

background: #1dde85;
-webkit-transform: scale(0);
    -ms-transform: scale(0);
        transform: scale(0);
opacity: 0;

-webkit-transition: opacity 0.3s , -webkit-transform 0.2s;

transition: opacity 0.3s , -webkit-transform 0.2s;

transition: transform 0.2s , opacity 0.3s;

transition: transform 0.2s , opacity 0.3s , -webkit-transform 0.2s;
}

.teams__svg-wrapper {
position: absolute;
bottom: 20px;

width: 100%;
height: 48px;
padding-top: 7px;

text-align: center;

border: 0.5px solid white;
}

.teams__svg {
width: 25px;
height: 25px;

fill: #fff;
}

.works {
text-align: center;
}
  .works__list {
margin: 0;
margin-bottom: 30px; 
padding: 0;

list-style: none;
}
    .works__list li {
display: inline-block;
margin-left: 10px; 

vertical-align: top;
}
      .works__list li:first-child {
margin-left: 0;
}
  .works__link {
padding: 10px;

font-weight: 300;
font-size: 18px;
color: #434243;
text-decoration: none;
}
    .works__link:hover {
color: #1dde85;
}
  .works__active {
border-bottom: 1px solid #1dde85;
}
    .works__active .works__link {
color: #1dde85;
}
  .works__items {
font-size: 0;
}
  .works__item {
display: inline-block;
width: 390px;
height: 390px;
margin-bottom: 50px; 
overflow: hidden;

vertical-align: top;
}
  @media (min-width: 768px) {

.wrapper {
width: 640px;
}
}
  @media (min-width: 1200px) {

.wrapper {
width: 1170px;
}
}

/*# sourceMappingURL=style.css.map */
